
$yellow: #E5E103;
$green: #5A5A5A;
body {
	max-width: 1600px;
	height: 100%;
	display: block;
	margin: 0 auto;
	font-family: Helvetica, Arial;
	font-weight: 300;
	.wrap {
		 display: flex;
  		 flex-direction: column;
  		 height: 100%;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		img {
			max-width: 100%;
		}
		a {
			text-decoration: none;
			color: #fff;
		}
		a:hover {
			color: $yellow;
		}
		ul {
			text-align: center;
			padding-left: 0;
			}
		li {
			list-style: none;
			display: inline-block;
		}

		header {	
			background-image: url(../img/head.jpg);
			background-size: cover;
			height: 1500px;
			width: 100%;
			margin: 0;
			padding: 0;

			.header-top {
				display: block;
				width: 100%;
				min-height: 19em;
				background-color: rgba(0, 0, 0, .6);
				color: #fff;

				nav {
					 width: 100%;
					 height: 60px;
					 padding: 1em 0 2em 0;
					 font-size: 0.9em;					
						li {
							padding: 0 1% 0 0.5%;
						}		
						input {
								background-color: #000;
								color: #fff;
								opacity: 0.9;
								padding: 0.5em 0 0.5em 1em;
								border: 0;							
							}
								
							img {
								width: 92%;
								height: 87%;
								padding: 0;
								vertical-align: middle;
								margin: 0;
								opacity: 0.8;
							}							
					}	

				.header-logo {
					text-align: center;
					padding: 3% 0 2% 0;

					h1 {
						font-size: 3em;
						font-weight: 300;
					}
					h3 {
						font-size: 1.1em;
						font-weight: 200;
						opacity: 0.5;
					}
					li {
						padding-left: 35px;	
						hr {
							width: 70px;													
							border-width: 2px;							
							border-style: solid;
							color: #FFFFFF;
						}
					}
				}
				.header-menu {
					padding: 3% 0 1% 0;
					font-size: 1em;
					font-weight: 500;

					li {
						padding: 0 2% 0 1%;
					}
				}

			}
			
			
			section {
				.carousel-product {
				width: 88%;
				min-height: 38em;
				float: left;
				margin: 4% 0 0 6%;
				background-color: #fff;
					article {
						width: 22%;
						float: left;
						padding-left: 2%;
						margin-top: 2em;
						text-align: center;
						hr {
							width: 40px;							
							border-width: 2px;							
							border-style: solid;
							color: #A8A8A8;
						}
						h4 {
							margin: 0 0 0 0;
							font-size: 1.3em;
							font-weight: 300;
						}					
						h5 {
							margin: 0 0 0 0;
							font-size: 1.2em;
							font-weight: 300;
							color: $yellow;
							}
						small {
							opacity: 0.9;
						}
						a {
							display: block;
							width: 68%;
							margin-left: 16%;
							padding: 0 0 0 0;
							&:hover {
								opacity: 0.8;
							}
						}
					}
				}	
			}
			section {
				.banner-header {
					img {	
						width: 88%;
						float: left;
						margin: 3.5% 0 0 6%;
						}
				}
			}	
				
		}

		.content {
			width: 100%;
			height: 700px;
			flex: 1 0 auto;
			margin-top: 40px;
			background-color: #fff;

			nav {
				a {
					color: #000;
					&:hover {
						color: $yellow;
					}
				} 
				li {
					padding-right: 1.5em;
				}
			}
			section {
				article {
						width: 22%;
						float: left;
						padding-left: 2%;
						margin-top: 2em;
						text-align: center;
						hr {
							width: 40px;							
							border-width: 2px;							
							border-style: solid;
							color: #A8A8A8;
						}
						h4 {
							margin: 0 0 0 0;
							font-size: 1.3em;
							font-weight: 300;
						}					
						h5 {
							margin: 0 0 0 0;
							font-size: 1.2em;
							font-weight: 300;
							color: $yellow;
							}
						small {
							opacity: 0.9;
						}
						a {
							display: block;
							width: 68%;
							margin-left: 16%;
							padding: 0 0 0 0;
							&:hover {
								opacity: 0.8;
							}
						}
					}
			}
		}
//////////////////////////////////////////////////////////////// CATEGORY TEMPLATE
	.header-category-main {
		background-image: url(../img/head.jpg);
			background-size: cover;			
			width: 100%;
			margin: 0;
			padding: 0;

			.header-top {
				display: block;
				width: 100%;
				min-height: 19em;
				background-color: rgba(0, 0, 0, .6);
				color: #fff;

				nav {
					 width: 100%;
					 height: 60px;
					 padding: 1em 0 2em 0;
					 font-size: 0.9em;					
						li {
							padding: 0 1% 0 0.5%;
						}		
						input {
								background-color: #000;
								color: #fff;
								opacity: 0.9;
								padding: 0.5em 0 0.5em 1em;
								border: 0;							
							}
								
							img {
								width: 92%;
								height: 87%;
								padding: 0;
								vertical-align: middle;
								margin: 0;
								opacity: 0.8;
							}							
					}	

				.header-logo {
					text-align: center;
					padding: 3% 0 2% 0;

					h1 {
						font-size: 3em;
						font-weight: 300;
					}
					h3 {
						font-size: 1.1em;
						font-weight: 200;
						opacity: 0.5;
					}
					li {
						padding-left: 35px;	
						hr {
							width: 70px;													
							border-width: 2px;							
							border-style: solid;
							color: #FFFFFF;
						}
					}
				}
				.header-menu {
					padding: 3% 0 1% 0;
					font-size: 1em;
					font-weight: 500;

					li {
						padding: 0 2% 0 1%;
					}
				}

			}
	}

		.header-category {
				background-color: #FFFFFF;
				width: 100%;
				height: 450px;
				a {
					color: #000;
				}
				.header-category-left {
					width: 25%;
					margin: 3% 2% 0 4%;
					float: left;				
					clear: both;

					.breadcrumb {
						width: 80%;
						float: left;
						li:nth-child(1) {
							width: 14%;
							border: 1px solid #000;
							padding: 0.1em 0 0 0;
							vertical-align: middle;
							
						}
						li:nth-child(2) {
							width: 75%;
							border: 1px solid #000;
							vertical-align: middle;
							padding: 0.5em;
							&:hover {
								background-color:  $yellow;
								color: #fff;
								transition: 0.6s;
							}
						}
					}
					.menu-category {
						width: 80%;
						float: left;
						clear: both;
						li {
							display: block;
							padding: 0.7em 4em 0.7em 0.7em;
							border: 0.5px solid #fff;
							background-color: $green;
							text-align: left;
							&:hover {
								background-color: #000;
							}
							a {
								color: #fff;
							}
						}
					}
				}
				.header-category-right {
					width: 60%;
					float: left;
					margin: 5% 2% 2% 2%;
						img {
							float: left;
							clear: both;
						}
						.header-content {
							display: block;	
							padding: 2% 1% 2% 2%;
							h2 {
								
								color: $yellow;
							}
							p {
								
							}
						}
				}	
			}
			
		.category-content {
			background-color: #fff;
			width: 100%;
			margin-top: 0;
			
			.category-content-left {
				width: 20%;
				float: left;
				clear: both;
				margin-left: 4%;
				h4,h3 {
					margin: 0;
					font-weight: 400;
					font-size: 1.3em;
				}
				hr {
					border-width: 2px;							
					border-style: solid;
					color: #A8A8A8;
				}
				li {
					display: block;
					border: 1px solid $green;
					margin-bottom: 1.5em;
					.shares {
						color: #000;
						// width: 30%;
						width: 0;
						height: 0;
						border-top: 50px solid red; 
						border-left: 50px solid transparent;
						float: right;
						margin-bottom: 1em;
						p {    color: #fff;
						    margin-top: -40px;
						    margin-left: -35px;
						-o-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						}
					}
					img {
						max-width: 50%;
						padding-left: 19%;
					}
						ul {	
							color: $yellow;
							del {
								font-size: 0.9em;
								color: #000;
								opacity: 0.8;
							}
							h4 {
								color: $yellow;
								display: inline-block;
							}
						}

				}
			}

			.category-content-right {
				width: 75%;
				float: right;

				.category-content-counter {
					width: 100%;
					display: block;
					.category-name-counter {
						width: 35%;
						float: left;
					}
					.category-counter {
						width: 65%;
						float: right;
						text-align: right;
					}
				}
				.category-sort {
					float: left;
					clear: both;
				}
				.category-main {
					width: 100%;

					ul {
						width: 100%;
						display: inline-block;
					li {
						width: 28%;
						float: left;
						padding-left: 3%;
						margin-top: 2em;
						text-align: center;
						.shares {
							color: #000;
							// width: 30%;
							width: 0;
							height: 0;
							border-top: 50px solid red; 
							border-left: 50px solid transparent;
							float: right;
							margin-bottom: 1em;
							p {    color: #fff;
							    margin-top: -40px;
							    margin-left: -35px;
							-o-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
							}
						}						

						hr {
							width: 40px;							
							border-width: 2px;							
							border-style: solid;
							color: #A8A8A8;
						}
						h4 {
							margin: 0 0 0 0;
							font-size: 1.3em;
							font-weight: 300;
						}					
						h5 {
							margin: 0 0 0 0;
							font-size: 1.2em;
							font-weight: 300;
							color: $yellow;
							}
						small {
							opacity: 0.9;
						}
						a {
							display: block;
							width: 68%;
							margin-left: 16%;
							padding: 0 0 0 0;
							&:hover {
								opacity: 0.8;
							}
						}
						.no-product {
								width: 40%;
								background-color: $green;
								opacity: 0.8;
								color: #000;
								padding: 0.5em 0 0.5em 0;
								font-size: 0.8em;
								float: left;
								margin-left: 31%;
								margin-top: 4%;
							}
						.in-product {
								width: 40%;
								background-color: #000;
								opacity: 0.8;
								color: #fff;
								padding: 0.5em 0 0.5em 0;
								font-size: 0.8em;
								float: left;
								margin-left: 31%;
								margin-top: 4%;
						}	
					}
				}
			}	
			}
		}
//////////////////////////////////////////////////////////////// END CATEGORY TEMPLATE		
		footer {
			background-color: #191919;
			width: 100%;
			flex: 0 0 auto;
			height: 500px;
			margin-top: 80px;
			color: #fff;
			.footer-top-text {
				height: 50px;
				background-color: $green;
				text-align: center;
				h3 {
					margin-top: 0;
					padding-top: 13px;
				}
			}
			.footer-menu {
				width: 90%;
				padding: 3% 0 3% 10%;

				text-align: left;
				float: left;
				p {
					text-align: left;					
				}
				span {
					p {
						font-size: 0.9em;
					}
				}
				.footer-category {
					width: 22%;
					float: left;
				}
				.footer-user {
					width: 22%;
					float: left;
				}
				.footer-info {
					width: 22%;
					float: left;
				}
				.footer-contact {
					width: 22%;
					float: left;
				}
			}
			form {
				width: 50%;
				margin: 18% 0 2% 10%;
				button {
					background-color: #E5E103;
					padding: 0.7em 3em 0.7em 3em;
					border: 0;
					color: #fff;
					&:hover {
						background-color: #5A5A5A;
						transition: 0.6s;
					}
				}
				input {
					margin-right: 1%;
					padding: 0.7em 3em 0.7em 3em;
					border: 0;
					color: #000;
				}
			}
			.footer-copyright {
				width: 100%;
				height: 50px;
				margin-top: 3%;
				background-color: #fff;
				color: #000;
				p {
					font-size: 0.8em;
					padding: 1.2% 0 0 10%;
				}
			}	
		}	
	}	
}