body {
  max-width: 1600px;
  height: 100%;
  display: block;
  margin: 0 auto;
  font-family: Helvetica, Arial;
  font-weight: 300; }
  body .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    body .wrap img {
      max-width: 100%; }
    body .wrap a {
      text-decoration: none;
      color: #fff; }
    body .wrap a:hover {
      color: #E5E103; }
    body .wrap ul {
      text-align: center;
      padding-left: 0; }
    body .wrap li {
      list-style: none;
      display: inline-block; }
    body .wrap header {
      background-image: url(../img/head.jpg);
      background-size: cover;
      height: 1500px;
      width: 100%;
      margin: 0;
      padding: 0; }
      body .wrap header .header-top {
        display: block;
        width: 100%;
        min-height: 19em;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff; }
        body .wrap header .header-top nav {
          width: 100%;
          height: 60px;
          padding: 1em 0 2em 0;
          font-size: 0.9em; }
          body .wrap header .header-top nav li {
            padding: 0 1% 0 0.5%; }
          body .wrap header .header-top nav input {
            background-color: #000;
            color: #fff;
            opacity: 0.9;
            padding: 0.5em 0 0.5em 1em;
            border: 0; }
          body .wrap header .header-top nav img {
            width: 92%;
            height: 87%;
            padding: 0;
            vertical-align: middle;
            margin: 0;
            opacity: 0.8; }
        body .wrap header .header-top .header-logo {
          text-align: center;
          padding: 3% 0 2% 0; }
          body .wrap header .header-top .header-logo h1 {
            font-size: 3em;
            font-weight: 300; }
          body .wrap header .header-top .header-logo h3 {
            font-size: 1.1em;
            font-weight: 200;
            opacity: 0.5; }
          body .wrap header .header-top .header-logo li {
            padding-left: 35px; }
            body .wrap header .header-top .header-logo li hr {
              width: 70px;
              border-width: 2px;
              border-style: solid;
              color: #FFFFFF; }
        body .wrap header .header-top .header-menu {
          padding: 3% 0 1% 0;
          font-size: 1em;
          font-weight: 500; }
          body .wrap header .header-top .header-menu li {
            padding: 0 2% 0 1%; }
      body .wrap header section .carousel-product {
        width: 88%;
        min-height: 38em;
        float: left;
        margin: 4% 0 0 6%;
        background-color: #fff; }
        body .wrap header section .carousel-product article {
          width: 22%;
          float: left;
          padding-left: 2%;
          margin-top: 2em;
          text-align: center; }
          body .wrap header section .carousel-product article hr {
            width: 40px;
            border-width: 2px;
            border-style: solid;
            color: #A8A8A8; }
          body .wrap header section .carousel-product article h4 {
            margin: 0 0 0 0;
            font-size: 1.3em;
            font-weight: 300; }
          body .wrap header section .carousel-product article h5 {
            margin: 0 0 0 0;
            font-size: 1.2em;
            font-weight: 300;
            color: #E5E103; }
          body .wrap header section .carousel-product article small {
            opacity: 0.9; }
          body .wrap header section .carousel-product article a {
            display: block;
            width: 68%;
            margin-left: 16%;
            padding: 0 0 0 0; }
            body .wrap header section .carousel-product article a:hover {
              opacity: 0.8; }
      body .wrap header section .banner-header img {
        width: 88%;
        float: left;
        margin: 3.5% 0 0 6%; }
    body .wrap .content {
      width: 100%;
      height: 700px;
      flex: 1 0 auto;
      margin-top: 40px;
      background-color: #fff; }
      body .wrap .content nav a {
        color: #000; }
        body .wrap .content nav a:hover {
          color: #E5E103; }
      body .wrap .content nav li {
        padding-right: 1.5em; }
      body .wrap .content section article {
        width: 22%;
        float: left;
        padding-left: 2%;
        margin-top: 2em;
        text-align: center; }
        body .wrap .content section article hr {
          width: 40px;
          border-width: 2px;
          border-style: solid;
          color: #A8A8A8; }
        body .wrap .content section article h4 {
          margin: 0 0 0 0;
          font-size: 1.3em;
          font-weight: 300; }
        body .wrap .content section article h5 {
          margin: 0 0 0 0;
          font-size: 1.2em;
          font-weight: 300;
          color: #E5E103; }
        body .wrap .content section article small {
          opacity: 0.9; }
        body .wrap .content section article a {
          display: block;
          width: 68%;
          margin-left: 16%;
          padding: 0 0 0 0; }
          body .wrap .content section article a:hover {
            opacity: 0.8; }
    body .wrap .header-category-main {
      background-image: url(../img/head.jpg);
      background-size: cover;
      width: 100%;
      margin: 0;
      padding: 0; }
      body .wrap .header-category-main .header-top {
        display: block;
        width: 100%;
        min-height: 19em;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff; }
        body .wrap .header-category-main .header-top nav {
          width: 100%;
          height: 60px;
          padding: 1em 0 2em 0;
          font-size: 0.9em; }
          body .wrap .header-category-main .header-top nav li {
            padding: 0 1% 0 0.5%; }
          body .wrap .header-category-main .header-top nav input {
            background-color: #000;
            color: #fff;
            opacity: 0.9;
            padding: 0.5em 0 0.5em 1em;
            border: 0; }
          body .wrap .header-category-main .header-top nav img {
            width: 92%;
            height: 87%;
            padding: 0;
            vertical-align: middle;
            margin: 0;
            opacity: 0.8; }
        body .wrap .header-category-main .header-top .header-logo {
          text-align: center;
          padding: 3% 0 2% 0; }
          body .wrap .header-category-main .header-top .header-logo h1 {
            font-size: 3em;
            font-weight: 300; }
          body .wrap .header-category-main .header-top .header-logo h3 {
            font-size: 1.1em;
            font-weight: 200;
            opacity: 0.5; }
          body .wrap .header-category-main .header-top .header-logo li {
            padding-left: 35px; }
            body .wrap .header-category-main .header-top .header-logo li hr {
              width: 70px;
              border-width: 2px;
              border-style: solid;
              color: #FFFFFF; }
        body .wrap .header-category-main .header-top .header-menu {
          padding: 3% 0 1% 0;
          font-size: 1em;
          font-weight: 500; }
          body .wrap .header-category-main .header-top .header-menu li {
            padding: 0 2% 0 1%; }
    body .wrap .header-category {
      background-color: #FFFFFF;
      width: 100%;
      height: 450px; }
      body .wrap .header-category a {
        color: #000; }
      body .wrap .header-category .header-category-left {
        width: 25%;
        margin: 3% 0 0 4%;
        float: left; }
        body .wrap .header-category .header-category-left .breadcrumb {
          width: 80%;
          float: left; }
          body .wrap .header-category .header-category-left .breadcrumb li:nth-child(1) {
            width: 14%;
            border: 1px solid #000;
            padding: 0.1em 0 0 0;
            vertical-align: middle; }
            body .wrap .header-category .header-category-left .breadcrumb li:nth-child(1):hover {
              background-color: #5A5A5A;
              transition: 0.6s; }
              body .wrap .header-category .header-category-left .breadcrumb li:nth-child(1):hover a {
                color: #FFFFFF; }
          body .wrap .header-category .header-category-left .breadcrumb li:nth-child(2) {
            width: 75%;
            border: 1px solid #000;
            vertical-align: middle;
            padding: 0.5em; }
            body .wrap .header-category .header-category-left .breadcrumb li:nth-child(2):hover {
              background-color: #5A5A5A;
              transition: 0.6s; }
              body .wrap .header-category .header-category-left .breadcrumb li:nth-child(2):hover a {
                color: #FFFFFF; }
        body .wrap .header-category .header-category-left .menu-category {
          width: 80%;
          float: left; }
          body .wrap .header-category .header-category-left .menu-category li {
            display: block;
            padding: 0.7em 4em 0.7em 0.7em;
            border: 0.5px solid #fff;
            background-color: #5A5A5A;
            text-align: left; }
            body .wrap .header-category .header-category-left .menu-category li:hover {
              background-color: #000; }
            body .wrap .header-category .header-category-left .menu-category li a {
              color: #fff; }
      body .wrap .header-category .header-category-right {
        width: 60%;
        float: left;
        margin: 8% 2% 2% 0; }
        body .wrap .header-category .header-category-right .header-content {
          display: block; }
          body .wrap .header-category .header-category-right .header-content img {
            float: left;
            margin-right: 4%; }
          body .wrap .header-category .header-category-right .header-content h2 {
            color: #E5E103; }
    body .wrap .category-content {
      background-color: #fff;
      width: 100%;
      margin-top: 0; }
      body .wrap .category-content a {
        color: #000; }
        body .wrap .category-content a:hover {
          color: #000;
          opacity: 0.9; }
      body .wrap .category-content .category-content-left {
        width: 20%;
        float: left;
        clear: both;
        margin-left: 4%; }
        body .wrap .category-content .category-content-left h4, body .wrap .category-content .category-content-left h3 {
          margin: 0;
          font-weight: 400;
          font-size: 1.3em; }
        body .wrap .category-content .category-content-left hr {
          border-width: 2px;
          border-style: solid;
          color: #A8A8A8; }
        body .wrap .category-content .category-content-left li {
          display: block;
          border: 1px solid #5A5A5A;
          margin-bottom: 1.5em; }
          body .wrap .category-content .category-content-left li .shares {
            color: #000;
            width: 0;
            height: 0;
            border-top: 50px solid red;
            border-left: 50px solid transparent;
            float: right;
            margin-bottom: 1em; }
            body .wrap .category-content .category-content-left li .shares p {
              color: #fff;
              margin-top: -40px;
              margin-left: -35px;
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
          body .wrap .category-content .category-content-left li img {
            max-width: 50%;
            padding-left: 19%; }
          body .wrap .category-content .category-content-left li ul {
            color: #E5E103; }
            body .wrap .category-content .category-content-left li ul del {
              font-size: 0.9em;
              color: #000;
              opacity: 0.8; }
            body .wrap .category-content .category-content-left li ul h4 {
              color: #E5E103;
              display: inline-block; }
      body .wrap .category-content .category-content-right {
        width: 75%;
        float: right; }
        body .wrap .category-content .category-content-right .category-content-counter {
          display: block;
          margin: 0 4%; }
          body .wrap .category-content .category-content-right .category-content-counter .category-name-counter {
            width: 35%;
            float: left; }
          body .wrap .category-content .category-content-right .category-content-counter .category-counter {
            width: 65%;
            float: right;
            text-align: right; }
        body .wrap .category-content .category-content-right .category-sort {
          float: left;
          margin: 0 4%; }
        body .wrap .category-content .category-content-right .category-main {
          width: 100%; }
          body .wrap .category-content .category-content-right .category-main ul {
            width: 100%;
            display: inline-block; }
            body .wrap .category-content .category-content-right .category-main ul li {
              width: 28%;
              float: left;
              padding-left: 3%;
              margin-top: 2em;
              text-align: center; }
              body .wrap .category-content .category-content-right .category-main ul li img {
                max-width: 60%;
                padding-left: 19%; }
              body .wrap .category-content .category-content-right .category-main ul li .shares {
                color: #000;
                width: 0;
                height: 0;
                border-top: 50px solid red;
                border-left: 50px solid transparent;
                float: right;
                margin-bottom: 1em; }
                body .wrap .category-content .category-content-right .category-main ul li .shares p {
                  color: #fff;
                  margin-top: -40px;
                  margin-left: -35px;
                  -o-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
              body .wrap .category-content .category-content-right .category-main ul li hr {
                width: 40px;
                border-width: 2px;
                border-style: solid;
                color: #A8A8A8; }
              body .wrap .category-content .category-content-right .category-main ul li h4 {
                margin: 0 0 0 0;
                font-size: 1.3em;
                font-weight: 300; }
              body .wrap .category-content .category-content-right .category-main ul li h5 {
                margin: 0 0 0 0;
                font-size: 1.2em;
                font-weight: 300;
                color: #E5E103; }
              body .wrap .category-content .category-content-right .category-main ul li small {
                opacity: 0.9; }
              body .wrap .category-content .category-content-right .category-main ul li a {
                display: block;
                width: 68%;
                margin-left: 16%;
                padding: 0 0 0 0; }
                body .wrap .category-content .category-content-right .category-main ul li a img {
                  max-width: 100%;
                  padding-left: 0; }
                body .wrap .category-content .category-content-right .category-main ul li a:hover {
                  opacity: 0.8; }
              body .wrap .category-content .category-content-right .category-main ul li .no-product {
                width: 40%;
                background-color: #5A5A5A;
                opacity: 0.8;
                color: #000;
                padding: 0.5em 0 0.5em 0;
                font-size: 0.8em;
                float: left;
                margin-left: 31%;
                margin-top: 4%; }
              body .wrap .category-content .category-content-right .category-main ul li .in-product {
                width: 40%;
                background-color: #000;
                opacity: 0.8;
                color: #fff;
                padding: 0.5em 0 0.5em 0;
                font-size: 0.8em;
                float: left;
                margin-left: 31%;
                margin-top: 4%; }
      body .wrap .category-content .pag-nav {
        display: block;
        height: 50px;
        margin: 5% 0 0 35%; }
        body .wrap .category-content .pag-nav ul {
          display: inline-block; }
          body .wrap .category-content .pag-nav ul li {
            color: #FFFFFF;
            background-color: #000;
            margin-left: 0.2em;
            padding: 0.5em 0.8em; }
            body .wrap .category-content .pag-nav ul li a {
              color: #FFFFFF;
              font-weight: bold; }
            body .wrap .category-content .pag-nav ul li:hover {
              background-color: #5A5A5A;
              transition: 0.6s; }
    body .wrap .product-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 1fr 1fr 1.5fr;
      grid-row-gap: 20px;
      padding: 0;
      margin: 2% 4% 2% 4%; }
      body .wrap .product-content a {
        color: #000; }
      body .wrap .product-content .breadcrumb ul {
        float: left; }
      body .wrap .product-content .product-des-main {
        display: grid;
        grid-template-columns: 1fr 3fr 4fr;
        grid-gap: 1em; }
        body .wrap .product-content .product-des-main .product-img-one, body .wrap .product-content .product-des-main .product-img-two {
          border: 1px solid; }
        body .wrap .product-content .product-des-main .product-col-one {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          grid-row-gap: 10px; }
        body .wrap .product-content .product-des-main .product-line-order {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 70px 70px;
          grid-gap: 1em;
          text-align: left; }
          body .wrap .product-content .product-des-main .product-line-order .line-order-one {
            display: inline; }
          body .wrap .product-content .product-des-main .product-line-order .line-order-two {
            float: left; }
      body .wrap .product-content .product-reviews {
        display: grid;
        grid-template-columns: 1fr 7fr;
        border: 1px solid #5A5A5A;
        box-shadow: 0px 0px 5px 0px #081104; }
        body .wrap .product-content .product-reviews .product-reviews-name {
          display: grid;
          grid-template-rows: 35px 35px;
          padding: 0.3em 0 0.5em 0.7em; }
          body .wrap .product-content .product-reviews .product-reviews-name .reviews-row-two a {
            padding: 0.5em 4em 0.5em 0.5em;
            background-color: #5A5A5A;
            color: #fff; }
        body .wrap .product-content .product-reviews .product-reviews-text {
          text-align: center;
          padding: 1em;
          color: #5A5A5A; }
    body .wrap footer {
      background-color: #191919;
      width: 100%;
      flex: 0 0 auto;
      height: 500px;
      margin-top: 80px;
      color: #fff; }
      body .wrap footer .footer-top-text {
        height: 50px;
        background-color: #5A5A5A;
        text-align: center; }
        body .wrap footer .footer-top-text h3 {
          margin-top: 0;
          padding-top: 13px; }
      body .wrap footer .footer-menu {
        width: 90%;
        padding: 3% 0 3% 10%;
        text-align: left;
        float: left; }
        body .wrap footer .footer-menu p {
          text-align: left; }
        body .wrap footer .footer-menu span p {
          font-size: 0.9em; }
        body .wrap footer .footer-menu .footer-category {
          width: 22%;
          float: left; }
        body .wrap footer .footer-menu .footer-user {
          width: 22%;
          float: left; }
        body .wrap footer .footer-menu .footer-info {
          width: 22%;
          float: left; }
        body .wrap footer .footer-menu .footer-contact {
          width: 22%;
          float: left; }
      body .wrap footer form {
        width: 50%;
        margin: 18% 0 2% 10%; }
        body .wrap footer form button {
          background-color: #E5E103;
          padding: 0.7em 3em 0.7em 3em;
          border: 0;
          color: #fff; }
          body .wrap footer form button:hover {
            background-color: #5A5A5A;
            transition: 0.6s; }
        body .wrap footer form input {
          margin-right: 1%;
          padding: 0.7em 3em 0.7em 3em;
          border: 0;
          color: #000; }
      body .wrap footer .footer-copyright {
        width: 100%;
        height: 50px;
        margin-top: 3%;
        background-color: #fff;
        color: #000; }
        body .wrap footer .footer-copyright p {
          font-size: 0.8em;
          padding: 1.2% 0 0 10%; }
