body {
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  font-family: Helvetica, Arial;
  font-weight: 300; }
  body .wrap {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    body .wrap img {
      max-width: 100%; }
    body .wrap a {
      text-decoration: none;
      color: #fff; }
    body .wrap a:hover {
      color: #E5E103; }
    body .wrap ul {
      text-align: center;
      padding-left: 0; }
    body .wrap li {
      list-style: none;
      display: inline-block; }
    body .wrap header {
      background-image: url(../img/head.jpg);
      background-size: cover;
      height: 1500px;
      width: 100%;
      margin: 0;
      padding: 0; }
      body .wrap header .header-top {
        display: block;
        width: 100%;
        min-height: 19em;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff; }
        body .wrap header .header-top nav {
          width: 100%;
          height: 60px;
          padding: 0 0 2em 0;
          font-size: 0.9em; }
          body .wrap header .header-top nav li {
            padding: 0 1% 0 0.5%; }
          body .wrap header .header-top nav input {
            background-color: #000;
            color: #fff;
            opacity: 0.9;
            padding: 0.5em 0 0.5em 1em;
            border: 0; }
          body .wrap header .header-top nav span {
            padding: 1em 0 0 0;
            vertical-align: middle; }
            body .wrap header .header-top nav span img {
              width: 22%;
              height: 17%;
              margin: 2em 0 0 0;
              opacity: 0.8; }
        body .wrap header .header-top .header-logo {
          text-align: center;
          padding: 3% 0 2% 0; }
          body .wrap header .header-top .header-logo h1 {
            font-size: 3em;
            font-weight: 300; }
          body .wrap header .header-top .header-logo h3 {
            font-size: 1.1em;
            font-weight: 200;
            opacity: 0.5; }
          body .wrap header .header-top .header-logo li {
            padding-left: 35px; }
            body .wrap header .header-top .header-logo li hr {
              width: 70px;
              border-width: 2px;
              border-style: solid;
              color: #FFFFFF; }
        body .wrap header .header-top .header-menu {
          padding: 3% 0 1% 0;
          font-size: 1em;
          font-weight: 500; }
          body .wrap header .header-top .header-menu li {
            padding: 0 2% 0 1%; }
      body .wrap header section .carousel-product {
        width: 88%;
        min-height: 38em;
        float: left;
        margin: 4% 0 0 6%;
        background-color: #fff; }
        body .wrap header section .carousel-product article {
          width: 22%;
          float: left;
          padding-left: 2%;
          margin-top: 2em;
          text-align: center; }
          body .wrap header section .carousel-product article hr {
            width: 40px;
            border-width: 2px;
            border-style: solid;
            color: #A8A8A8; }
          body .wrap header section .carousel-product article h4 {
            margin: 0 0 0 0;
            font-size: 1.3em;
            font-weight: 300; }
          body .wrap header section .carousel-product article h5 {
            margin: 0 0 0 0;
            font-size: 1.2em;
            font-weight: 300;
            color: #E5E103; }
          body .wrap header section .carousel-product article small {
            opacity: 0.9; }
          body .wrap header section .carousel-product article a {
            display: block;
            width: 68%;
            margin-left: 16%;
            padding: 0 0 0 0; }
            body .wrap header section .carousel-product article a:hover {
              opacity: 0.8; }
      body .wrap header section .banner-header img {
        width: 88%;
        float: left;
        margin: 3.5% 0 0 6%; }
    body .wrap .content {
      width: 100%;
      height: 700px;
      margin-top: 40px;
      background-color: #fff; }
      body .wrap .content nav a {
        color: #000; }
        body .wrap .content nav a:hover {
          color: #E5E103; }
      body .wrap .content nav li {
        padding-right: 1.5em; }
      body .wrap .content section article {
        width: 22%;
        float: left;
        padding-left: 2%;
        margin-top: 2em;
        text-align: center; }
        body .wrap .content section article hr {
          width: 40px;
          border-width: 2px;
          border-style: solid;
          color: #A8A8A8; }
        body .wrap .content section article h4 {
          margin: 0 0 0 0;
          font-size: 1.3em;
          font-weight: 300; }
        body .wrap .content section article h5 {
          margin: 0 0 0 0;
          font-size: 1.2em;
          font-weight: 300;
          color: #E5E103; }
        body .wrap .content section article small {
          opacity: 0.9; }
        body .wrap .content section article a {
          display: block;
          width: 68%;
          margin-left: 16%;
          padding: 0 0 0 0; }
          body .wrap .content section article a:hover {
            opacity: 0.8; }
    body .wrap .header-category {
      background-color: #FFFFFF;
      width: 100%;
      height: 500px; }
      body .wrap .header-category a {
        color: #000; }
      body .wrap .header-category .header-category-left {
        width: 25%;
        margin: 3% 2% 2% 4%;
        float: left;
        clear: both; }
        body .wrap .header-category .header-category-left .breadcrumb {
          float: left; }
          body .wrap .header-category .header-category-left .breadcrumb li:nth-child(1) {
            border: 1px solid #000;
            padding: 0.1em 0 0 0;
            vertical-align: middle; }
          body .wrap .header-category .header-category-left .breadcrumb li:nth-child(2) {
            border: 1px solid #000;
            vertical-align: middle;
            padding: 0.5em; }
        body .wrap .header-category .header-category-left .menu-category {
          float: left;
          clear: both; }
          body .wrap .header-category .header-category-left .menu-category li {
            display: block;
            padding: 0.7em 4em 0.7em 0.7em;
            border: 0.5px solid #fff;
            background-color: #5A5A5A;
            text-align: left; }
            body .wrap .header-category .header-category-left .menu-category li:hover {
              background-color: #000; }
            body .wrap .header-category .header-category-left .menu-category li a {
              color: #fff; }
      body .wrap .header-category .header-category-right {
        width: 60%;
        float: left;
        margin: 5% 2% 2% 2%; }
        body .wrap .header-category .header-category-right img {
          float: left;
          clear: both; }
        body .wrap .header-category .header-category-right .header-content {
          display: block;
          padding: 2% 1% 2% 2%; }
          body .wrap .header-category .header-category-right .header-content h2 {
            color: #E5E103; }
    body .wrap section {
      background-color: #fff;
      height: 1000px;
      width: 100%;
      margin-top: 0; }
      body .wrap section h3 {
        margin-top: 0; }
      body .wrap section aside {
        width: 20%;
        float: left;
        clear: both; }
        body .wrap section aside li {
          display: block; }
    body .wrap footer {
      background-color: #191919;
      width: 100%;
      height: 500px;
      margin-top: 80px;
      color: #fff; }
      body .wrap footer .footer-top-text {
        height: 50px;
        background-color: #5A5A5A;
        text-align: center; }
        body .wrap footer .footer-top-text h3 {
          padding-top: 13px; }
      body .wrap footer .footer-menu {
        width: 90%;
        padding: 3% 0 3% 10%;
        text-align: left;
        float: left; }
        body .wrap footer .footer-menu p {
          text-align: left; }
        body .wrap footer .footer-menu span p {
          font-size: 0.9em; }
        body .wrap footer .footer-menu .footer-category {
          width: 22%;
          float: left; }
        body .wrap footer .footer-menu .footer-user {
          width: 22%;
          float: left; }
        body .wrap footer .footer-menu .footer-info {
          width: 22%;
          float: left; }
        body .wrap footer .footer-menu .footer-contact {
          width: 22%;
          float: left; }
      body .wrap footer form {
        width: 50%;
        margin: 18% 0 2% 10%; }
        body .wrap footer form button {
          background-color: #E5E103;
          padding: 0.7em 3em 0.7em 3em;
          border: 0;
          color: #fff; }
          body .wrap footer form button:hover {
            background-color: #5A5A5A;
            transition: 0.6s; }
        body .wrap footer form input {
          margin-right: 1%;
          padding: 0.7em 3em 0.7em 3em;
          border: 0;
          color: #000; }
      body .wrap footer .footer-copyright {
        width: 100%;
        height: 50px;
        margin-top: 3%;
        background-color: #fff;
        color: #000; }
        body .wrap footer .footer-copyright p {
          font-size: 0.8em;
          padding: 1.2% 0 0 10%; }
